<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <add name="LoggingServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\TestDatabase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
  </connectionStrings>
  <appSettings>
    <!-- The name of the application -->
    <add key="ApplicationName" value="Tests"/>
    <!-- The path to the logging destination, if you application is a web application
          use ~/LogPath/ or /Path/To/LogPath/ format. If you are using a library or windows application
          use the full path to the logging directory: c:\path\to\logging\dir\
    -->
    <add key="LogPath" value="C:\Temp\LogPath\"/>

    <!-- Fallback logs -->
    <add key="EnableFallBackLogs" value="True"/>

    <!-- The path to the fallback logs, this is where the server logs to if it fails to log to
    the choosen destination -->
    <add key="FallbackLogPath" value="C:\Temp\FallbackLogPath\"/>
    
    <!-- The email that log messages is send to -->
    <add key="ToEmail" value="qvistian@gmail.com"/>
    <add key="FromEmail" value="logger@example.com"/>

    <!-- The SMTP server information that should be used to send messages, leave username and password blank
    if the server dosent need authentication -->
    <add key="SmtpServer" value="smtp.cybercity.dk"/>
    <add key="SmtpUsername" value=""/>
    <add key="SmtpPassword" value=""/>
    
    <!-- The path to the MSMQ server queue -->
    <add key="MsmqPath" value="FormatName:DIRECT=TCP:127.0.0.1\Private$\queue"/>

    <!-- Encryption -->
    <add key="EncryptionPassword" value="PasswordHere"/>
    <add key="EncryptionSalt" value="SaltHere"/>
    <!-- Block size, supported block size is: 128, 192 or 256 bits -->
    <add key="EncryptionBlockSize" value="128"/>
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>