<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LoggingServer" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <!-- The name of the application -->
    <add key="ApplicationName" value="Tests"/>

    <!-- The path to the logging destination, if you application is a web application
          use ~/LogPath/ or /Path/To/LogPath/ format. If you are using a library or windows application
          use the full path to the logging directory: c:\path\to\logging\dir\
    -->
    <add key="LogPath" value="C:\Temp\LogPath\"/>

    <!-- The path to the fallback logs, this is where the server logs to if it fails to log to
    the choosen destination -->
    <add key="FallbackLogPath" value="C:\Temp\FallbackLogPath\"/>

    <!-- The path to the MSMQ server queue -->
    <add key="MsmqPath" value="FormatName:DIRECT=TCP:127.0.0.1\Private$\queue"/>

    <!-- Encryption -->
    <add key="EncryptionPassword" value="PasswordHere"/>
    <add key="EncryptionSalt" value="SaltHere"/>

    <!-- Block size, supported block size is: 128, 192 or 256 bits -->
    <add key="EncryptionBlockSize" value="128"/>

    <!-- Fallback logs -->
    <add key="EnableFallBackLogs" value="True"/>
  </appSettings>
</configuration>
